= link_to "New Idea", new_idea_path

.jumbotron
  - collection.each do |idea|
    %li.h2= idea.title
    %li= idea.description
    %li= idea.location
    %li -------------------------------------------------------------------
