
.container
  .panel
    .row
      .img
        = image_tag "/me.jpeg"
    .row
      .col4
        %h1 Diese Seite wurde mit
      .col4
        %h1.fa.fa-heart
      .col4
        %h1 gemacht von Nina
